@font-face {
  font-family: B612-Regular;
  src: url(../../fonts/B612/B612-Regular.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f6f9;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.display-none {
  display: none;
  overflow: hidden;
}

.display-show {
  display: block;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 0.86rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.wrapper #alert_box {
  display: none;
  width: 20%;
  margin: 20% 35%;
  font-size: 0.85rem;
  position: fixed;
  text-align: center;
  z-index: 3;
  background: white;
  box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
  border: 1px solid #dfdfdf;
  vertical-align: middle;
  padding: 0.8rem;
  color: #3c4854;
  user-select: none;
}

.wrapper #lightbox #content-lightbox {
  display: none;
  width: 80%;
  height: 95%;
  margin: 1.25% 10%;
  font-size: 0.85rem;
  position: fixed;
  z-index: 3;
  background: white;
  color: #3c4854;
  user-select: none;
  overflow: auto;
}

.wrapper #lightbox #content-lightbox .topForm {
  display: flex;
  justify-content: space-between;
  background-color: #3c4854;
  color: white;
  padding: 0.8rem;
  font-weight: bold;
}

.wrapper #lightbox #content-lightbox .closeBtn i {
  font-size: 1.2rem;
}

.wrapper #lightbox #content-lightbox #lightBoxContent {
  padding: 1.2rem;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  color: #3c4854;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.73rem;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form table tr td {
  padding: 0.5em 0.5em 0.5em 0em;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form table tr td:first-child {
  width: 30%;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form table tr td input[type='text'],
.wrapper #lightbox #content-lightbox #lightBoxContent #form table tr td input[type='number'],
.wrapper #lightbox #content-lightbox #lightBoxContent #form table tr td select,
.wrapper #lightbox #content-lightbox #lightBoxContent #form table tr td input[type='file'] {
  padding: 0.5em 0.7em;
  outline: none;
  border-radius: 3px;
  border: 1px solid #aeaeae;
  color: #3c4854;
  font-size: 0.73rem;
  margin: 0 0.5em;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form table tr td textarea {
  max-width: 25vw;
  height: 50px;
  min-height: 50px;
  max-height: 350px;
  padding: 0.5em 0.7em;
  outline: none;
  border-radius: 3px;
  border: 1px solid #aeaeae;
  color: #3c4854;
  font-size: 0.85rem;
  margin: 0 0.5em;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form #formLeft {
  grid-area: 1 / 1 / 2 / 2;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form #formRight {
  grid-area: 1 / 2 / 2 / 3;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form #formPriceRight {
  grid-area: 2 / 1 / 3 / 2;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #form #formPriceLeft {
  grid-area: 2 / 2 / 3 / 3;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #imgPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #imgPreview .imageFile {
  width: 100%;
  text-align: center;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #imgPreview .imageFile img {
  max-width: 100%;
  max-height: 34vmax;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #imgPreview .btnDownload {
  margin-top: 2rem;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #imgPreview .btnDownload span.styleDownload {
  padding: 1.2rem 2rem;
  text-align: center;
  background-color: #289132;
  color: #fff;
  align-items: center;
}

.wrapper #lightbox #content-lightbox #lightBoxContent #imgPreview .btnDownload span.styleDownload a {
  color: #fff;
  font-weight: bold;
}

.wrapper #lightbox #content-lightbox #lightBoxContent table#tLogs {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.7rem;
}

.wrapper #lightbox #content-lightbox #lightBoxContent table#tLogs tr {
  border-bottom: 1px solid #dfdfdf;
}

.wrapper #lightbox #content-lightbox #lightBoxContent table#tLogs tr th {
  background-color: #495057;
  color: white;
  padding: 0.5rem;
}

.wrapper #lightbox #content-lightbox #lightBoxContent table#tLogs tr td:first-child {
  border-right: 1px solid #dfdfdf;
}

.wrapper #lightbox #content-lightbox #lightBoxContent table#tLogs tr td:nth-child(2) {
  width: 20%;
}

.wrapper #lightbox #content-lightbox #lightBoxContent table#tLogs tr td {
  padding: 0.35rem 0.4rem;
  text-align: left;
  line-height: 1rem;
  vertical-align: top;
}

.wrapper #alert_box .keterangan {
  margin-bottom: 1rem;
}

.wrapper #alert_box .icon {
  margin-bottom: 0.5rem;
}

.wrapper #alert_box .icon {
  font-size: 2rem;
}

.wrapper #alert_box .button button {
  outline: none;
  border: none;
  padding: 0.4rem 0.8rem;
  background-color: #3c4854;
  color: #fff;
  margin-right: 0.3rem;
  border-radius: 4px;
}

.wrapper #alert_box .button button:hover {
  background-color: #fe5724;
  cursor: pointer;
}

.wrapper #lightbox #blackout {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 1;
}

.header {
  background-color: #3c4854;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.header .logo img {
  margin-left: 1.2rem;
  height: 23px;
  max-height: 30px;
  pointer-events: none;
}

.header .icon_right {
  display: flex;
  flex-direction: row;
  padding: 0;
  color: white;
  margin-right: 1.2rem;
}

.header .icon_right .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}

.header .icon_right .icon a {
  color: #fff;
}

.header .icon_right .icon #text {
  font-size: 0.7em;
  line-height: 1.5em;
  border-right: 2.1px solid #fff;
  padding-right: 0.8rem;
}

.header .icon_right .icon i {
  cursor: pointer;
  font-size: 2em;
}

.header .icon_right .icon span.notif_number {
  padding: 2px;
  color: #3c4854;
  background-color: yellow;
  font-size: 0.62em;
  font-weight: bold;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-top: -13px;
  margin-left: -9px;
}

.header .icon_right .icon p {
  margin-right: 0.4rem;
  font-weight: bold;
  font-size: 0.83em;
}

.header .icon_right img {
  height: 23px;
  border-radius: 10px;
  margin-right: 0.7rem;
  pointer-events: none;
}

.header .icon_right .icon #notif_display {
  position: absolute;
  top: 3.1rem;
  right: 2.1rem;
  width: 20%;
  font-size: 0.72em;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  color: #3c4854;
  padding: 0.6rem;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
}

.header .icon_right .icon #notif_display table {
  width: 100%;
  border-collapse: collapse;
}

.header .icon_right .icon #notif_display table tr {
  border-bottom: 1px solid #dfdfdf;
}

.header .icon_right .icon #notif_display table tr:last-child {
  border-bottom: none;
}

.header .icon_right .icon #notif_display table tr td {
  padding: 0.6rem;
}

.menu {
  height: 45px;
  font-size: 0.72em;
  background-color: #fefefe;
  box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #707689;
  font-weight: 700;
}

.menu ul {
  display: flex;
  flex-direction: row;
  margin-left: 1.2rem;
  list-style: none;
}
.menu ul a {
  text-decoration: none;
}

.menu ul li {
  display: flex;
  flex-direction: row;
  margin-right: 1.1rem;
  cursor: pointer;
  padding: 10px;
}

.menu ul li .icon_menu {
  display: flex;
  flex-direction: row;
  padding-right: 0.4rem;
}

.menu ul li.active,
.menu ul > li:hover {
  color: #fe5724;
  border-left: 4px solid #fe5724;
}

.menu li > ul {
  display: none;
  position: absolute;
}

.menu ul li:hover > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 1.5rem;
  margin-left: -0.875rem;
  background-color: #fefefe;
  color: #707689;
  border-radius: 0px 0 8px 8px;
}

.menu ul li ul a {
  text-decoration: none;
  color: #707689;
}

.menu ul li:hover > ul li:hover {
  color: #fe5724;
  border-left: 4px solid #fe5724;
  font-weight: 700;
}

.content {
  padding: 1.2rem;
  color: #3c4854;
}

.content .title {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.content .dashboard_plugin {
  display: flex;
  /* justify-content: flex-start; */
  justify-content: center;
  flex-flow: row wrap;
}

.content .dashboard_plugin .plugin_1 {
  width: 23%;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 1.9rem;
  margin-right: 1.3rem;
  border: 1px solid #d8d8d8;
}

.content .dashboard_plugin .plugin_1 .title_plugin {
  margin-top: 0.7rem;
}

.content .dashboard_plugin .plugin_1 .content_plugin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin {
  display: flex;
  flex-direction: column;
  line-height: 1.8rem;
  font-size: 0.75rem;
}

.content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin span.value {
  font-weight: bold;
  font-size: 1.4em;
}

.content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin b.positif_value {
  color: green;
  margin-right: 0.3rem;
}

.content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin b.negatif_value {
  color: red;
  margin-right: 0.3rem;
}

.content .plugin-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.3rem;
  justify-content: space-between;
}

.content .plugin-top .item {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  align-items: center;
}

.content .plugin-top .item .left_title {
  font-size: 1.3em;
  color: #3c4854;
  text-transform: uppercase;
  border-right: 1px solid #495057;
  padding-right: 1.3rem;
}

.content .plugin-top .item #right_title {
  font-size: 0.9em;
  color: #495057;
  padding-left: 1.3rem;
}

.content .plugin-top .item button {
  outline: none;
  border: none;
  padding: 0.7rem 1.4rem;
  background-color: #3c4854;
  color: #fff;
  margin-left: 1.2rem;
  border-radius: 8px;
}

.content .plugin-top .item button:hover {
  background-color: #fe5724;
  cursor: pointer;
}

.content #plugin-search {
  font-size: 0.75em;
  padding: 0rem 0rem 1rem 0rem;
}

.content #plugin-search input {
  color: #495057;
  outline: none;
  border: 1px solid #d8d8d8;
  margin-right: 1.2rem;
  padding: 0.8rem;
  font-size: 0.85rem;
}

.content #plugin-search input[type='text']#search_data {
  width: 33%;
}

.content #plugin-search input[type='number']#search_limit {
  width: 6%;
}

.content #plugin-search input[type='date'] {
  width: 18%;
  font-size: 0.85rem;
}

.content #plugin-search input[type='date']::before {
  content: attr(data-placeholder);
  width: 32%;
  color: #aaa;
  font-weight: normal;
}

.content #plugin-search button {
  outline: none;
  border: none;
  padding: 0.8rem;
  background-color: #3c4854;
  color: #fff;
  border-radius: 8px;
}

.content #plugin-search button:hover {
  background-color: #fe5724;
  cursor: pointer;
}

.content .content-table {
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-size: 0.75em;
}

.content .content-table table.table-list {
  width: 100%;
  border-collapse: collapse;
}

.content .content-table table.table-list tr {
  border-bottom: 1px solid #dfdfdf;
}

.content .content-table table.table-list tr:hover {
  background: #f1f1f1;
}

.content .content-table table.table-list tr th {
  font-size: 1.05em;
  background-color: #495057;
  color: white;
  padding: 0.7rem;
}

.content .content-table table.table-list tr th select#search_Setter {
  font-size: 1.05em;
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.content .content-table table.table-list tr th select#search_Setter option {
  color: #495057;
  padding: 0.7rem;
}

.content .content-table table.table-list tr td {
  padding: 0.35rem 0.1rem;
}

.content .content-table table.table-list tr td:hover {
  cursor: pointer;
}

.content .content-table table.table-list tr td.data_tidak_ditemukan {
  padding: 15px;
  font-weight: bold;
  font-size: 0.7rem;
}

.content .content-table table.table-list tr td.deskripsi {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
}

.content .content-table table.table-list tr div.test {
  display: flex;
  flex-direction: column;
  line-height: 21px;
}

.content .content-table table.table-list tr td.deskripsi div.test span.client_name {
  font-weight: bolder;
  color: #495057;
}

.content .content-table table.table-list tr td.deskripsi div.lf {
  background-color: #9320a1;
  color: #fafafa;
  padding: 9px;
  margin-right: 0.8rem;
  font-weight: bold;
  vertical-align: middle;
}

.content .content-table table.table-list tr td.deskripsi div.dp {
  background-color: #0077fc;
  color: #fafafa;
  padding: 9px;
  margin-right: 0.8rem;
  font-weight: bold;
  vertical-align: middle;
}

.content .content-table table.table-list tr td.deskripsi div.ix {
  background-color: #dd2424;
  color: #fafafa;
  padding: 9px;
  margin-right: 0.8rem;
  font-weight: bold;
  vertical-align: middle;
}

.content .content-table table.table-list tr td.deskripsi div.il {
  background-color: #289132;
  color: #fafafa;
  padding: 9px;
  margin-right: 0.8rem;
  font-weight: bold;
  vertical-align: middle;
}

.content .content-table table.table-list tr td.deskripsi div.o {
  background-color: #23785d;
  color: #fafafa;
  padding: 9px;
  margin-right: 0.8rem;
  font-weight: bold;
  vertical-align: middle;
}

.content .content-table table.table-list tr td.deskripsi div.e {
  background-color: grey;
  color: #fafafa;
  padding: 9px;
  margin-right: 0.8rem;
  font-weight: bold;
  vertical-align: middle;
}

.content .content-table table.table-list tr td.status_icon {
  text-align: center;
}

.content .content-table table.table-list tr td.status_icon div {
  padding: 5px 0px;
}

.content .content-table table.table-list tr td.status_icon div span {
  width: 25px;
  padding: 3px 3px;
  /* background-color:#aeaeae; */
}

.content .content-table table.table-list tr td.status_icon div span.active {
  color: #fe5724;
}

.content .content-table table.table-list tr td.status_icon div span.pointer {
  cursor: pointer;
}

.content .content-table table.table-list tr td.status_icon div span.default {
  cursor: default;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 565.98px) {
  .header .icon_right .icon #text {
    display: none;
    animation: ease-out;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 566px) and (max-width: 767.98px) {
  .ssd {
    width: 18%;
  }

  .sd {
    width: 29%;
  }

  .md {
    width: 50%;
  }

  .ld {
    width: 100%;
  }

  .content .dashboard_plugin .plugin_1 {
    width: 100%;
    /* margin-right: 0rem; */
  }

  .content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin span.value {
    font-size: 1.4em;
  }

  .content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin {
    font-size: 1rem;
  }

  .content .content-table {
    font-size: 0.675rem;
  }

  .content #plugin-search input[type='text']#search_data {
    width: 20%;
  }

  .content #plugin-search input[type='date'] {
    width: 15%;
  }

  .content #plugin-search input[type='date']::before {
    content: attr(data-placeholder);
    width: 30%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .ssd {
    width: 20%;
  }

  .sd {
    width: 31%;
  }

  .md {
    width: 35%;
  }

  .ld {
    width: 63%;
  }

  .wrapper #alert_box {
    width: 23%;
  }

  .content .dashboard_plugin .plugin_1 {
    width: 44%;
    /* margin-right: 2.5rem; */
  }

  .content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin span.value {
    font-size: 1.2em;
  }

  .content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin {
    font-size: 0.8rem;
  }

  .content .content-table {
    font-size: 0.675rem;
  }

  .content #plugin-search input[type='text']#search_data {
    width: 23%;
  }

  .content #plugin-search input[type='date'] {
    width: 17%;
  }

  .content #plugin-search input[type='date']::before {
    content: attr(data-placeholder);
    width: 31%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .ssd {
    width: 20%;
  }

  .sd {
    width: 31%;
  }

  .md {
    width: 35%;
  }

  .ld {
    width: 63%;
  }

  .header .icon_right .icon #notif_display {
    width: 25%;
  }

  .wrapper #alert_box {
    width: 30%;
  }

  .content .dashboard_plugin .plugin_1 {
    width: 22%;
    /* margin-right: 1rem; */
  }

  .content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin span.value {
    font-size: 1em;
  }

  .content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin,
  .content .content-table {
    font-size: 0.7rem;
  }

  .content #plugin-search input,
  .content #plugin-search button,
  .content #plugin-search input[type='text']#search_data .content #plugin-search input[type='date'],
  .content #plugin-search input[type='date']::before {
    font-size: 0.8rem;
  }

  .content #plugin-search input[type='text']#search_client {
    width: 15%;
  }

  .content #plugin-search input[type='text']#search_data {
    width: 26%;
  }

  .content #plugin-search input[type='date'] {
    width: 20%;
  }

  .content #plugin-search input[type='date']::before {
    content: attr(data-placeholder);
    width: 32%;
    font-size: 0.8rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .ssd {
    width: 20%;
  }

  .sd {
    width: 32%;
  }

  .md {
    width: 50%;
  }

  .ld {
    width: 80%;
  }

  .wrapper #alert_box {
    width: 25%;
  }

  .content .dashboard_plugin .plugin_1 {
    width: 23%;
    /* margin-right: 1.1rem; */
  }

  .content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin span.value {
    font-size: 1.4em;
  }

  .content .dashboard_plugin .plugin_1 .content_plugin .detail_plugin,
  .content .content-table {
    font-size: 0.675rem;
  }

  .content #plugin-search input,
  .content #plugin-search button,
  .content #plugin-search input[type='text']#search_data .content #plugin-search input[type='date'],
  .content #plugin-search input[type='date']::before {
    font-size: 0.7rem;
  }

  .content #plugin-search input[type='text']#search_data {
    width: 33%;
  }

  .content #plugin-search input[type='date'] {
    width: 18%;
  }

  .content #plugin-search input[type='date']::before {
    content: attr(data-placeholder);
    width: 32%;
    font-size: 0.7;
  }
}
