@font-face {
    font-family: B612-Regular;
    src: url(../../fonts/B612/B612-Regular.ttf);
}
  

* {
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    background: url("../images/bg_login.jpg") no-repeat fixed center;
    background-size: cover;
}

body {
    font-family:B612-Regular, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

img.logo {
    width:36%;
    margin-bottom: 1rem;;
}

.signin-signup {
    background: url("../images/Form_login.jpg");
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height:80%;
    display:grid;
    grid-template-columns: 1fr; 
    border-radius: 15px;
    box-shadow: 4px 4px 6px rgba(1, 56, 107, 0.4);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: 3.8rem;
    font-size: 2rem;
    color:#fff;
    margin-bottom: 10px;
}

.input-field {
    max-width: 300px;
    width: 100%;
    height:45px;
    background-color: #f0f0f0;
    margin: 10px 0;
    border-radius: 55px;
    display:grid;
    grid-template-columns: 15% 85%;
    padding:0.4rem;
}

.input-field i {
    text-align: center;
    line-height: 35px;
    color:#acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none; 
    border:none;
    line-height:1;
    font-weight: 600;
    font-size: 1.1rem;
    color:#333;
}

.input-field input::placeholder {
    color:#aaa;
    font-weight: 500;
}

.btn {
    width : 150px;
    height : 49px;
    outline: none;
    border:none;
    border-radius: 49px;
    background-color: #fff;
    color:#181e2f;
    text-transform: uppercase;
    font-weight: 600;
    margin:10px 0;
    cursor: pointer;
}

/*==================================================================
[ Restyle Checkbox ]*/

.contact100-form-checkbox {
    color: #fff;
    margin: 0.4rem 0;
}
  
.input-checkbox100 {
    display: none;
    color: #fff;
}
  
.label-checkbox100 {
    color: #fff;
    line-height: 1.4;
    display: inline-block;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
}
  
.label-checkbox100::before {
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 13px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #aeaeae;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
.input-checkbox100:checked + .label-checkbox100::before {
    color: #0057a8;
}
  
.input-checkbox100:disabled + .label-checkbox100::before {
    background: #e2e2e2;
}
  
.fa-info-square {
    color: #0057a8;
}
  
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img.logo {
        width:36%;
        margin-bottom: 1rem;;
    }

    .signin-signup {
        width: 67%;
        height:80%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    img.logo {
        width:42%;
    }

    .signin-signup {
        width: 58%;
        height:80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    img.logo {
        width:52%;
    }

    .signin-signup {
        width: 45%;
        height:80%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    img.logo {
        width:36%;
    }

    .signin-signup {
        width: 38%;
        height:80%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    img.logo {
        width:42%;
    }

    .signin-signup {
        width: 30%;
        height:80%;
    }
}