@import url(../../vendor/fontawesome-pro-master/css/all.css);
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: #f5f6f9;
}

.display-none {
  display: none;
  overflow: hidden;
}

.display-show {
  display: block;
}

.btn:hover {
  color: #fe5724;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.wrapper .lightbox {
  overflow: hidden;
  display: none;
}

.wrapper .lightbox.display-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .lightbox .lightbox-confirmation {
  width: 30%;
  max-height: 100%;
  position: fixed;
  z-index: 3;
  background: #fff;
  color: #3c4854;
  overflow: auto;
  border-radius: 5px;
  margin-top: 100vh;
}

.wrapper .lightbox .lightbox-confirmation .lineBlack {
  width: 100%;
  height: 10px;
  background-color: #3c4854;
  opacity: 0.8;
}

.wrapper .lightbox .lightbox-confirmation .content {
  padding: 0 1.3em 0 1.3em;
}

.wrapper .lightbox .lightbox-confirmation .content .Title-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  font-size: 2em;
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-confirmation .content .Title-Content p {
  margin-top: 10px;
  font-size: 0.5em;
  font-weight: bold;
}

.wrapper .lightbox .lightbox-confirmation .content .Text-Content {
  margin: 10px 0;
  font-size: 0.8em;
  text-align: left;
  line-height: 1.6em;
  padding-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-confirmation .content .Text-Content table {
  border-collapse: collapse;
  width: 100%;
}

.wrapper .lightbox .lightbox-confirmation .content .Text-Content table tr {
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-confirmation .content .Text-Content table tr th {
  padding: 0.6em 0.4em;
  background-color: #3c4854;
  color: #fff;
  text-align: center;
  width: 100% / 3;
}

.wrapper .lightbox .lightbox-confirmation .content .Text-Content table tr td {
  width: 100% / 3;
  border-top: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  vertical-align: top;
}

.wrapper .lightbox .lightbox-confirmation .content .Text-Content table tr td ul li {
  padding: 0.6em 0.4em;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-confirmation .content .Text-Content table tr td ul li:last-child {
  border-bottom: none;
}

.wrapper .lightbox .lightbox-confirmation .content .resultError {
  font-size: 0.8em;
  text-align: center;
  color: red;
  font-weight: bold;
}

.wrapper .lightbox .lightbox-confirmation .content .Btn-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 13px auto 18px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .lightbox .lightbox-confirmation .content .Btn-Content .no-btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #3c4854;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wrapper .lightbox .lightbox-confirmation .content .Btn-Content .no-btn.display-none {
  display: none;
}

.wrapper .lightbox .lightbox-confirmation .content .Btn-Content .yes-btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #fe5724;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wrapper .lightbox .lightbox-confirmation .content .Btn-Content .yes-btn.display-none {
  display: none;
}

.wrapper .lightbox .lightbox-Small {
  width: 50%;
  height: 48%;
  max-height: 100%;
  position: fixed;
  z-index: 3;
  background: #fff;
  color: #3c4854;
  overflow: auto;
  border-radius: 5px;
  margin-top: 100vh;
}

.wrapper .lightbox .lightbox-Small .lineBlack {
  width: 100%;
  height: 10px;
  background-color: #3c4854;
  opacity: 0.8;
}

.wrapper .lightbox .lightbox-Small .content {
  padding: 0 1.3em 0 1.3em;
}

.wrapper .lightbox .lightbox-Small .content .Title-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  font-size: 1.3em;
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-Small .content .Title-Content p {
  margin-left: 15px;
  font-size: 0.6em;
  font-weight: bold;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  margin: 10px 0;
  padding-bottom: 15px;
  font-size: 0.88rem;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right {
  padding: 5px;
  width: 49%;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr {
  height: 25px;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td {
  padding: 7px 0;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td:first-child,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td:first-child {
  padding-right: 10px;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td input,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td input {
  padding: 3px 8px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 5px;
  color: #3c4854;
  font-size: 12px;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td input.disabled,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td input.disabled {
  border: none;
  background: none;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td .form-checkbox,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td .form-checkbox {
  color: #fff;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100 {
  display: none;
  color: #fff;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td .form-checkbox .label-checkbox100,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td .form-checkbox .label-checkbox100 {
  color: #3c4854;
  line-height: 1.4;
  display: inline-block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td .form-checkbox .label-checkbox100::before,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td .form-checkbox .label-checkbox100::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Pro';
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #dfdfdf;
  font-weight: bold;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100:checked + .label-checkbox100::before,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100:checked + .label-checkbox100::before {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100:disabled + .label-checkbox100::before,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100:disabled + .label-checkbox100::before {
  background: #e2e2e2;
}

.wrapper .lightbox .lightbox-Small .content .Text-Content .input-left table tr td .form-checkbox .fa-info-square,
.wrapper .lightbox .lightbox-Small .content .Text-Content .input-right table tr td .form-checkbox .fa-info-square {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-Small .content .resultError {
  font-size: 0.72em;
  text-align: center;
  color: red;
  font-weight: bold;
}

.wrapper .lightbox .lightbox-Small .content .Btn-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 13px auto 18px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .lightbox .lightbox-Small .content .Btn-Content .no-btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #3c4854;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wrapper .lightbox .lightbox-Small .content .Btn-Content .no-btn.display-none {
  display: none;
}

.wrapper .lightbox .lightbox-Small .content .Btn-Content .yes-btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #fe5724;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wrapper .lightbox .lightbox-Small .content .Btn-Content .yes-btn.display-none {
  display: none;
}

.wrapper .lightbox .lightbox-medium {
  width: 80%;
  height: 80%;
  max-height: 100%;
  position: fixed;
  z-index: 3;
  background: #fff;
  color: #3c4854;
  overflow: auto;
  border-radius: 5px;
  margin-top: 100vh;
}

.wrapper .lightbox .lightbox-medium .lineBlack {
  width: 100%;
  height: 10px;
  background-color: #3c4854;
  opacity: 0.8;
}

.wrapper .lightbox .lightbox-medium .content {
  padding: 0 1.3em 0 1.3em;
}

.wrapper .lightbox .lightbox-medium .content .Title-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  font-size: 1.3em;
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-medium .content .Title-Content p {
  margin-left: 15px;
  font-size: 0.6em;
  font-weight: bold;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  font-size: 0.88rem;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right {
  padding: 5px;
  width: 49%;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr {
  height: 25px;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td {
  padding: 7px 0;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td:first-child,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td:first-child {
  padding-right: 10px;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td input,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td input {
  padding: 3px 8px;
  border: 1px solid #dfdfdf;
  outline: none;
  border-radius: 5px;
  color: #3c4854;
  font-size: 12px;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td input.disabled,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td input.disabled {
  border: none;
  background: none;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td .form-checkbox,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td .form-checkbox {
  color: #fff;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100 {
  display: none;
  color: #fff;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td .form-checkbox .label-checkbox100,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td .form-checkbox .label-checkbox100 {
  color: #3c4854;
  line-height: 1.4;
  display: inline-block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td .form-checkbox .label-checkbox100::before,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td .form-checkbox .label-checkbox100::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Pro';
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #dfdfdf;
  font-weight: bold;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100:checked + .label-checkbox100::before,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100:checked + .label-checkbox100::before {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100:disabled + .label-checkbox100::before,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100:disabled + .label-checkbox100::before {
  background: #e2e2e2;
}

.wrapper .lightbox .lightbox-medium .content .Text-Content .input-left table tr td .form-checkbox .fa-info-square,
.wrapper .lightbox .lightbox-medium .content .Text-Content .input-right table tr td .form-checkbox .fa-info-square {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.72rem;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr th {
  background-color: #3c4854;
  color: #fff;
  padding: 0.5em 0.4em;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr:hover {
  background: #f1f1f1;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td {
  border-bottom: 1px solid #dfdfdf;
  color: #3c4854;
  padding: 0.5em 0.4em 0.5em 1.2em;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td.center {
  text-align: center;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td input {
  padding: 0.4em 0.5em;
  outline: none;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  margin-right: 10px;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td input[type='time'] {
  cursor: pointer;
  color: #3c4854;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .form-checkbox {
  color: #fff;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .form-checkbox .input-checkbox100 {
  display: none;
  color: #fff;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .form-checkbox .label-checkbox100 {
  color: #3c4854;
  line-height: 1.4;
  display: inline-block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .form-checkbox .label-checkbox100::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Pro';
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #dfdfdf;
  font-weight: bold;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .form-checkbox .input-checkbox100:checked + .label-checkbox100::before {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .form-checkbox .input-checkbox100:disabled + .label-checkbox100::before {
  background: #e2e2e2;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .form-checkbox .fa-info-square {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .autocomplete {
  width: 12vw;
  position: absolute;
  background-color: #fff;
  color: #3c4854;
  border: 1px solid #dfdfdf;
  margin-top: 5px;
  border-radius: 4px;
  display: none;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .autocomplete .item {
  padding: 0.4rem 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .autocomplete .item.active, .wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .autocomplete .item:hover {
  cursor: pointer;
  background-color: #3c4854;
  color: #fff;
}

.wrapper .lightbox .lightbox-medium .content .Table-Content table tr td .autocomplete.display-show {
  display: block;
}

.wrapper .lightbox .lightbox-medium .content .resultError {
  font-size: 0.72em;
  text-align: center;
  color: red;
  font-weight: bold;
}

.wrapper .lightbox .lightbox-medium .content .Btn-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 13px auto 18px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .lightbox .lightbox-medium .content .Btn-Content .no-btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #3c4854;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wrapper .lightbox .lightbox-medium .content .Btn-Content .no-btn.display-none {
  display: none;
}

.wrapper .lightbox .lightbox-medium .content .Btn-Content .yes-btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #fe5724;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wrapper .lightbox .lightbox-medium .content .Btn-Content .yes-btn.display-none {
  display: none;
}

.wrapper .lightbox .lightbox-large {
  width: 90%;
  height: 100%;
  max-height: 100%;
  position: fixed;
  z-index: 3;
  background: #fff;
  color: #3c4854;
  overflow: auto;
  border-radius: 5px;
  margin-top: 100vh;
}

.wrapper .lightbox .lightbox-large .lineBlack {
  width: 100%;
  height: 10px;
  background-color: #3c4854;
  opacity: 0.8;
}

.wrapper .lightbox .lightbox-large .content {
  padding: 0 1.3em 0 1.3em;
}

.wrapper .lightbox .lightbox-large .content .Title-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  font-size: 1.3em;
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-large .content .Title-Content p {
  margin-left: 15px;
  font-size: 0.6em;
  font-weight: bold;
}

.wrapper .lightbox .lightbox-large .content .Text-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  font-size: 0.88rem;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right {
  padding: 5px;
  width: 49%;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr {
  height: 25px;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td {
  padding: 7px 0;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td:first-child,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td:first-child {
  padding-right: 10px;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td input,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td input {
  padding: 0.4em 0.5em;
  outline: none;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  margin-right: 10px;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td input.disabled,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td input.disabled {
  border: none;
  background: none;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td .form-checkbox,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td .form-checkbox {
  color: #fff;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100 {
  display: none;
  color: #fff;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td .form-checkbox .label-checkbox100,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td .form-checkbox .label-checkbox100 {
  color: #3c4854;
  line-height: 1.4;
  display: inline-block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td .form-checkbox .label-checkbox100::before,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td .form-checkbox .label-checkbox100::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Pro';
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #dfdfdf;
  font-weight: bold;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100:checked + .label-checkbox100::before,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100:checked + .label-checkbox100::before {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td .form-checkbox .input-checkbox100:disabled + .label-checkbox100::before,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td .form-checkbox .input-checkbox100:disabled + .label-checkbox100::before {
  background: #e2e2e2;
}

.wrapper .lightbox .lightbox-large .content .Text-Content .input-left table tr td .form-checkbox .fa-info-square,
.wrapper .lightbox .lightbox-large .content .Text-Content .input-right table tr td .form-checkbox .fa-info-square {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-large .content .Table-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.72rem;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr:hover {
  background: #f1f1f1;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr th {
  background-color: #3c4854;
  color: #fff;
  padding: 0.5em 0.4em;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td {
  border-bottom: 1px solid #dfdfdf;
  color: #3c4854;
  padding: 0.5em 0.4em 0.5em 1.2em;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td.center {
  text-align: center;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td input {
  padding: 0.4em 0.5em;
  outline: none;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  margin-right: 10px;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td input[type='time'] {
  cursor: pointer;
  color: #3c4854;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .form-checkbox {
  color: #fff;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .form-checkbox .input-checkbox100 {
  display: none;
  color: #fff;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .form-checkbox .label-checkbox100 {
  color: #3c4854;
  line-height: 1.4;
  display: inline-block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .form-checkbox .label-checkbox100::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Pro';
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #dfdfdf;
  font-weight: bold;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .form-checkbox .input-checkbox100:checked + .label-checkbox100::before {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .form-checkbox .input-checkbox100:disabled + .label-checkbox100::before {
  background: #e2e2e2;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .form-checkbox .fa-info-square {
  color: #fe5724;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .autocomplete {
  width: 12vw;
  position: absolute;
  background-color: #fff;
  color: #3c4854;
  border: 1px solid #dfdfdf;
  margin-top: 5px;
  border-radius: 4px;
  display: none;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .autocomplete .item {
  padding: 0.4rem 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .autocomplete .item.active, .wrapper .lightbox .lightbox-large .content .Table-Content table tr td .autocomplete .item:hover {
  cursor: pointer;
  background-color: #3c4854;
  color: #fff;
}

.wrapper .lightbox .lightbox-large .content .Table-Content table tr td .autocomplete.display-show {
  display: block;
}

.wrapper .lightbox .lightbox-large .content .resultError {
  font-size: 0.72em;
  text-align: center;
  color: red;
  font-weight: bold;
}

.wrapper .lightbox .lightbox-large .content .Btn-Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 13px auto 18px auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .lightbox .lightbox-large .content .Btn-Content .no-btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #3c4854;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wrapper .lightbox .lightbox-large .content .Btn-Content .no-btn.display-none {
  display: none;
}

.wrapper .lightbox .lightbox-large .content .Btn-Content .yes-btn {
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  background-color: #fe5724;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.75rem;
}

.wrapper .lightbox .lightbox-large .content .Btn-Content .yes-btn.display-none {
  display: none;
}

.wrapper .lightbox .blackout {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 1;
}

.wrapper .header {
  background-color: #3c4854;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .header .logo img {
  margin-left: 1.2em;
  height: 23px;
  max-height: 30px;
  pointer-events: none;
}

.wrapper .header .icon_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  color: #fff;
  margin-right: 1.2em;
}

.wrapper .header .icon_right .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6em 0.4em 0.4em 0.4em;
}

.wrapper .header .icon_right .icon:nth-child(2) {
  cursor: pointer;
}

.wrapper .header .icon_right .icon a {
  color: #fff;
}

.wrapper .header .icon_right .icon .header-time {
  font-size: 0.7em;
  line-height: 1.5em;
  border-right: 2.1px solid #fff;
  padding-right: 0.8em;
}

.wrapper .header .icon_right .icon i {
  cursor: pointer;
  font-size: 2em;
}

.wrapper .header .icon_right .icon span.notif_number {
  padding: 2px;
  color: #3c4854;
  background-color: yellow;
  font-size: 0.62em;
  font-weight: bold;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  margin-top: -13px;
  margin-left: -8px;
}

.wrapper .header .icon_right .icon .notif_display {
  position: absolute;
  top: 3.1rem;
  right: 2.1rem;
  width: 20%;
  font-size: 0.72em;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  color: #3c4854;
  padding: 0.6rem;
  border-radius: 15px;
  z-index: 1;
  -webkit-box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
          box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
}

.wrapper .header .icon_right .icon .notif_display table.table_notif {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95em;
}

.wrapper .header .icon_right .icon .notif_display table.table_notif tr {
  border-bottom: 1px solid #dfdfdf;
}

.wrapper .header .icon_right .icon .notif_display table.table_notif tr:last-child {
  border-bottom: none;
}

.wrapper .header .icon_right .icon .notif_display table.table_notif tr td {
  padding: 0.5rem;
}

.wrapper .header .icon_right .icon p {
  margin-right: 0.4rem;
  font-weight: bold;
  font-size: 0.83em;
}

.wrapper .header .icon_right img {
  height: 23px;
  border-radius: 10px;
  margin-right: 0.7rem;
  pointer-events: none;
}

.wrapper .menu {
  font-size: 0.72em;
  background-color: #f5f6f9;
  -webkit-box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
          box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
  color: #3c4854;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 100%;
  padding: 0.6em 0;
}

.wrapper .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 1.2rem;
  list-style: none;
  padding: 0;
}

.wrapper .menu ul a {
  text-decoration: none;
  color: #3c4854;
}

.wrapper .menu ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.4em 0.6em 0.4em 0;
  padding: 8px;
}

.wrapper .menu ul li.active, .wrapper .menu ul li:hover {
  color: #fe5724;
  border-left: 4px solid #fe5724;
}

.wrapper .menu ul li:hover > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  margin-top: 1.2rem;
  margin-left: -0.75rem;
  background-color: #f5f6f9;
  color: #3c4854;
}

.wrapper .menu ul li ul {
  display: none;
  position: absolute;
}

.wrapper .menu ul .icon_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 0.4rem;
}

.wrapper .container {
  margin: 1.2em;
  font-size: 0.9em;
  color: #3c4854;
}

.wrapper .container .calender-container .plugin-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .container .calender-container .plugin-top .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .container .calender-container .plugin-top .item .left_title {
  font-size: 1.3em;
  color: #3c4854;
  text-transform: uppercase;
  border-right: 1px solid #3c4854;
  padding-right: 1.3rem;
}

.wrapper .container .calender-container .plugin-top .item #right_title {
  font-size: 0.9em;
  color: #3c4854;
  padding-left: 1.3rem;
}

.wrapper .container .calender-container .plugin-top .item button {
  outline: none;
  border: none;
  padding: 0.7rem 1.4rem;
  background-color: #3c4854;
  color: #fff;
  margin-left: 1.2rem;
  border-radius: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .container .calender-container .plugin-top .item button:hover {
  background-color: #fe5724;
  cursor: pointer;
}

.wrapper .container .calender-container .plugin-top .item input {
  color: #3c4854;
  outline: none;
  border: 1px solid #dfdfdf;
  margin-right: 1.2rem;
  padding: 0.8rem;
  font-size: 0.85rem;
}

.wrapper .container .calender-container .plugin-search {
  font-size: 0.75em;
  padding: 0rem 0rem 1rem 0rem;
  display: none;
}

.wrapper .container .calender-container .plugin-search.display-show {
  display: block;
}

.wrapper .container .calender-container .plugin-search input,
.wrapper .container .calender-container .plugin-search select {
  color: #3c4854;
  outline: none;
  border: 1px solid #dfdfdf;
  margin-right: 1.2rem;
  padding: 0.8rem;
  font-size: 0.85rem;
}

.wrapper .container .calender-container .list-karyawan table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.72rem;
}

.wrapper .container .calender-container .list-karyawan table tr th {
  background-color: #3c4854;
  color: #fff;
  padding: 0.8em 0.6em;
}

.wrapper .container .calender-container .list-karyawan table tr:hover {
  background: #f1f1f1;
}

.wrapper .container .calender-container .list-karyawan table tr td {
  border-bottom: 1px solid #dfdfdf;
  color: #3c4854;
  padding: 0.8em 0.6em;
  text-align: center;
}

.wrapper .container .calender-container .list-karyawan table tr td:nth-child(2) {
  text-align: left;
}

.wrapper .container .calender-container .calender-display .day-of-week,
.wrapper .container .calender-container .calender-display .date-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.wrapper .container .calender-container .calender-display .day-of-week div {
  padding: 0.3rem;
  background-color: #3c4854;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.wrapper .container .calender-container .calender-display .date-grid .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8px;
  border: 1px solid #dfdfdf;
  height: 100px;
  font-weight: bold;
}

.wrapper .container .calender-container .calender-display .date-grid .day:nth-child(7n + 1) {
  color: #da2e22;
  font-weight: 700;
}

.wrapper .container .calender-container .calender-display .date-grid .day span {
  margin-top: 10px;
  display: inline-block;
}

.wrapper .container .calender-container .calender-display .date-grid .day span ul li {
  list-style: none;
  font-size: 0.75rem;
  padding: 0.2rem 0;
}

.wrapper .container .calender-container .calender-display .date-grid .padding {
  background-color: #dfdfdf;
  border-right: 1px solid #fff;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 565.98px) {
  .wrapper .lightbox .lightbox-Small {
    width: 90%;
    height: 50%;
    margin: 31% 5%;
  }
  .wrapper .lightbox .lightbox-confirmation {
    width: 50%;
  }
  .wrapper .header .icon_right .icon:nth-child(3) {
    margin-top: 0.2em;
    display: block;
  }
  .wrapper .header .icon_right .icon .notif_display {
    width: 60%;
  }
  .wrapper .header .icon_right .icon .notif_display table.table_notif {
    font-size: 0.95em;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 566px) and (max-width: 767.98px) {
  .wrapper .lightbox .lightbox-Small {
    width: 90%;
    height: 55%;
    margin: 26% 5%;
  }
  .wrapper .lightbox .lightbox-confirmation {
    width: 50%;
  }
  .wrapper .header .icon_right .icon:nth-child(3) {
    margin-top: 0.2em;
    display: block;
  }
  .wrapper .header .icon_right .icon .notif_display {
    width: 45%;
  }
  .wrapper .header .icon_right .icon .notif_display table.table_notif {
    font-size: 0.95em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper .lightbox .lightbox-Small {
    width: 78%;
    height: 54%;
    margin: 18% 11%;
  }
  .wrapper .lightbox .lightbox-confirmation {
    width: 40%;
  }
  .wrapper .header .icon_right .icon:nth-child(3) {
    display: none;
  }
  .wrapper .header .icon_right .icon .notif_display {
    width: 33%;
  }
  .wrapper .header .icon_right .icon .notif_display table.table_notif {
    font-size: 0.95em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper .lightbox-confirmation .content-lightbox {
    width: 52%;
    width: 48%;
    margin: 28% 24%;
  }
  .wrapper .lightbox-confirmation .lightbox-confirmation {
    width: 33%;
  }
  .wrapper .header .icon_right .icon:nth-child(3) {
    display: none;
  }
  .wrapper .header .icon_right .icon .notif_display {
    width: 28%;
  }
  .wrapper .header .icon_right .icon .notif_display table.table_notif {
    font-size: 0.95em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper .lightbox .lightbox-Small {
    width: 45%;
    height: 48%;
    margin: 15% 27.5%;
  }
  .wrapper .lightbox .lightbox-confirmation {
    width: 33%;
  }
  .wrapper .header .icon_right .icon:nth-child(3) {
    display: none;
  }
  .wrapper .header .icon_right .icon .notif_display {
    width: 23%;
  }
  .wrapper .header .icon_right .icon .notif_display table.table_notif {
    font-size: 0.95em;
  }
}
/*# sourceMappingURL=main.css.map */