$mainColor: #3c4854;
$secondaryColor: #fe5724;
$fontColor: #3c4854;
$bgColor: #f5f6f9;
$whiteColor: #fff;
$borderColor: #dfdfdf;
$gblFontSize: 0.72rem;

// @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url(../../vendor/fontawesome-pro-master/css/all.css);

@mixin pointer($cursor: default) {
  cursor: $cursor;
}

@mixin hoverTable() {
  background: #f1f1f1;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: $bgColor;
}

.display-none {
  display: none;
  overflow: hidden;
}

.display-show {
  display: block;
}

.btn:hover {
  color: $secondaryColor;
  @include pointer(pointer);
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .lightbox {
    overflow: hidden;
    display: none;

    &.display-show {
      display: block;
    }

    .lightbox-confirmation {
      width: 30%;
      position: fixed;
      margin: 16% 35%;
      z-index: 2;
      background: $whiteColor;
      color: $mainColor;
      overflow: auto;
      border-radius: 5px;

      .lineBlack {
        width: 100%;
        height: 10px;
        background-color: $mainColor;
        opacity: 0.8;
      }

      .content {
        padding: 0 1.3em 0 1.3em;

        .Title-Content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px 0;
          font-size: 2em;
          border-bottom: 1px solid $borderColor;

          p {
            margin-top: 10px;
            font-size: 0.5em;
            font-weight: bold;
          }
        }

        .Text-Content {
          margin: 10px 0;
          font-size: 0.8em;
          text-align: left;
          line-height: 1.6em;
          padding-bottom: 10px;
          border-bottom: 1px solid $borderColor;

          table {
            border-collapse: collapse;
            width: 100%;
            tr {
              border-bottom: 1px solid $borderColor;
              th {
                padding: 0.6em 0.4em;
                background-color: $mainColor;
                color: $whiteColor;
                text-align: center;
                width: 100% / 3;
              }

              td {
                width: 100% / 3;
                border-top: 1px solid $borderColor;
                border-right: 1px solid $borderColor;
                border-left: 1px solid $borderColor;
                vertical-align: top;

                ul {
                  li {
                    padding: 0.6em 0.4em;
                    list-style: none;
                    width: 100%;
                    border-bottom: 1px solid $borderColor;

                    &:last-child {
                      border-bottom: none;
                    }
                  }
                }
              }
            }
          }
        }

        .resultError {
          font-size: 0.8em;
          text-align: center;
          color: red;
          font-weight: bold;
        }

        .Btn-Content {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin: 13px auto 18px auto;

          .no-btn {
            display: inline-block;
            border: none;
            outline: none;
            color: $whiteColor;
            background-color: $mainColor;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 5px;
            @include pointer(pointer);
            font-size: 0.75rem;

            &.display-none {
              display: none;
            }
          }

          .yes-btn {
            display: inline-block;
            border: none;
            outline: none;
            color: $whiteColor;
            background-color: $secondaryColor;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 5px;
            @include pointer(pointer);
            font-size: 0.75rem;

            &.display-none {
              display: none;
            }
          }
        }
      }
    }

    .lightbox-Small {
      z-index: 2;
      width: 50%;
      height: 48%;
      position: fixed;
      margin: 15% 24%;
      background: $whiteColor;
      color: $mainColor;
      overflow: auto;
      border-radius: 5px;

      .lineBlack {
        width: 100%;
        height: 10px;
        background-color: $mainColor;
        opacity: 0.8;
      }

      .content {
        padding: 0 1.3em 0 1.3em;

        .Title-Content {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 0;
          font-size: 1.3em;
          border-bottom: 1px solid $borderColor;

          p {
            margin-left: 15px;
            font-size: 0.6em;
            font-weight: bold;
          }
        }

        .Text-Content {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          border-bottom: 1px solid $borderColor;
          margin: 10px 0;
          padding-bottom: 15px;
          font-size: 0.88rem;

          .input-left,
          .input-right {
            padding: 5px;
            width: 49%;
            background-color: $whiteColor;
            user-select: none;

            table {
              width: 100%;
              border-collapse: collapse;
              font-size: 0.8em;

              tr {
                height: 25px;

                td {
                  padding: 7px 0;

                  &:first-child {
                    padding-right: 10px;
                  }

                  input {
                    padding: 3px 8px;
                    border: 1px solid $borderColor;
                    outline: none;
                    border-radius: 5px;
                    color: $fontColor;
                    font-size: 12px;

                    &.disabled {
                      border: none;
                      background: none;
                    }
                  }

                  .form-checkbox {
                    color: #fff;

                    .input-checkbox100 {
                      display: none;
                      color: #fff;
                    }

                    .label-checkbox100 {
                      color: $fontColor;
                      line-height: 1.4;
                      display: inline-block;
                      position: relative;
                      padding-left: 26px;
                      @include pointer(pointer);

                      &::before {
                        content: '\f00c';
                        font-family: 'Font Awesome 5 Pro';
                        font-size: 13px;
                        color: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        width: 1.3em;
                        height: 1.3em;
                        border-radius: 2px;
                        background: $whiteColor;
                        border: 1px solid $borderColor;
                        font-weight: bold;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                      }
                    }

                    .input-checkbox100:checked + .label-checkbox100::before {
                      color: $secondaryColor;
                    }

                    .input-checkbox100:disabled + .label-checkbox100::before {
                      background: #e2e2e2;
                    }

                    .fa-info-square {
                      color: $secondaryColor;
                    }
                  }
                }
              }
            }
          }
        }

        .resultError {
          font-size: 0.72em;
          text-align: center;
          color: red;
          font-weight: bold;
        }

        .Btn-Content {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin: 13px auto 18px auto;

          .no-btn {
            display: inline-block;
            border: none;
            outline: none;
            color: $whiteColor;
            background-color: $mainColor;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 5px;
            @include pointer(pointer);
            font-size: 0.75rem;

            &.display-none {
              display: none;
            }
          }

          .yes-btn {
            display: inline-block;
            border: none;
            outline: none;
            color: $whiteColor;
            background-color: $secondaryColor;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 5px;
            @include pointer(pointer);
            font-size: 0.75rem;

            &.display-none {
              display: none;
            }
          }
        }
      }
    }

    .lightbox-medium {
      z-index: 2;
      width: 80%;
      height: 80%;
      position: fixed;
      margin: 5% 10%;
      background: $whiteColor;
      color: $mainColor;
      overflow: auto;
      border-radius: 5px;

      .lineBlack {
        width: 100%;
        height: 10px;
        background-color: $mainColor;
        opacity: 0.8;
      }

      .content {
        padding: 0 1.3em 0 1.3em;

        .Title-Content {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 0;
          font-size: 1.3em;
          border-bottom: 1px solid $borderColor;

          p {
            margin-left: 15px;
            font-size: 0.6em;
            font-weight: bold;
          }
        }

        .Text-Content {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          border-bottom: 1px solid $borderColor;
          font-size: 0.88rem;

          .input-left,
          .input-right {
            padding: 5px;
            width: 49%;
            background-color: $whiteColor;
            user-select: none;

            table {
              width: 100%;
              border-collapse: collapse;
              font-size: 0.8em;

              tr {
                height: 25px;

                td {
                  padding: 7px 0;

                  &:first-child {
                    padding-right: 10px;
                  }

                  input {
                    padding: 3px 8px;
                    border: 1px solid $borderColor;
                    outline: none;
                    border-radius: 5px;
                    color: $fontColor;
                    font-size: 12px;

                    &.disabled {
                      border: none;
                      background: none;
                    }
                  }

                  .form-checkbox {
                    color: #fff;

                    .input-checkbox100 {
                      display: none;
                      color: #fff;
                    }

                    .label-checkbox100 {
                      color: $fontColor;
                      line-height: 1.4;
                      display: inline-block;
                      position: relative;
                      padding-left: 26px;
                      @include pointer(pointer);

                      &::before {
                        content: '\f00c';
                        font-family: 'Font Awesome 5 Pro';
                        font-size: 13px;
                        color: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        width: 1.3em;
                        height: 1.3em;
                        border-radius: 2px;
                        background: $whiteColor;
                        border: 1px solid $borderColor;
                        font-weight: bold;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                      }
                    }

                    .input-checkbox100:checked + .label-checkbox100::before {
                      color: $secondaryColor;
                    }

                    .input-checkbox100:disabled + .label-checkbox100::before {
                      background: #e2e2e2;
                    }

                    .fa-info-square {
                      color: $secondaryColor;
                    }
                  }
                }
              }
            }
          }
        }

        .Table-Content {
          display: flex;
          flex-direction: row;

          table {
            border-collapse: collapse;
            width: 100%;
            font-size: $gblFontSize;

            tr {
              th {
                background-color: $mainColor;
                color: $whiteColor;
                padding: 0.5em 0.4em;
              }

              &:hover {
                @include hoverTable;
              }

              td {
                border-bottom: 1px solid $borderColor;
                color: $mainColor;
                padding: 0.5em 0.4em 0.5em 1.2em;

                &.center {
                  text-align: center;
                }

                input {
                  padding: 0.4em 0.5em;
                  outline: none;
                  border: 1px solid $borderColor;
                  border-radius: 4px;
                  margin-right: 10px;
                }

                input[type='time'] {
                  @include pointer(pointer);
                  color: $fontColor;
                }

                .form-checkbox {
                  color: #fff;

                  .input-checkbox100 {
                    display: none;
                    color: #fff;
                  }

                  .label-checkbox100 {
                    color: $fontColor;
                    line-height: 1.4;
                    display: inline-block;
                    position: relative;
                    padding-left: 26px;
                    @include pointer(pointer);

                    &::before {
                      content: '\f00c';
                      font-family: 'Font Awesome 5 Pro';
                      font-size: 13px;
                      color: transparent;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: absolute;
                      width: 1.3em;
                      height: 1.3em;
                      border-radius: 2px;
                      background: $whiteColor;
                      border: 1px solid $borderColor;
                      font-weight: bold;
                      left: 0;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                  }

                  .input-checkbox100:checked + .label-checkbox100::before {
                    color: $secondaryColor;
                  }

                  .input-checkbox100:disabled + .label-checkbox100::before {
                    background: #e2e2e2;
                  }

                  .fa-info-square {
                    color: $secondaryColor;
                  }
                }

                .autocomplete {
                  width: 12vw;
                  position: absolute;
                  background-color: $whiteColor;
                  color: $mainColor;
                  border: 1px solid $borderColor;
                  margin-top: 5px;
                  border-radius: 4px;
                  display: none;

                  .item {
                    padding: 0.4rem 1rem;
                    border-bottom: 1px solid $borderColor;

                    &.active,
                    &:hover {
                      @include pointer(pointer);
                      background-color: $mainColor;
                      color: $whiteColor;
                    }
                  }

                  &.display-show {
                    display: block;
                  }
                }
              }
            }
          }
        }

        .resultError {
          font-size: 0.72em;
          text-align: center;
          color: red;
          font-weight: bold;
        }

        .Btn-Content {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin: 13px auto 18px auto;

          .no-btn {
            display: inline-block;
            border: none;
            outline: none;
            color: $whiteColor;
            background-color: $mainColor;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 5px;
            @include pointer(pointer);
            font-size: 0.75rem;

            &.display-none {
              display: none;
            }
          }

          .yes-btn {
            display: inline-block;
            border: none;
            outline: none;
            color: $whiteColor;
            background-color: $secondaryColor;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 5px;
            @include pointer(pointer);
            font-size: 0.75rem;

            &.display-none {
              display: none;
            }
          }
        }
      }
    }

    .lightbox-large {
      z-index: 2;
      width: 90%;
      height: 95%;
      position: fixed;
      margin: 1.25% 5%;
      background: $whiteColor;
      color: $mainColor;
      overflow: auto;
      border-radius: 5px;

      .lineBlack {
        width: 100%;
        height: 10px;
        background-color: $mainColor;
        opacity: 0.8;
      }

      .content {
        padding: 0 1.3em 0 1.3em;

        .Title-Content {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 10px 0;
          font-size: 1.3em;
          border-bottom: 1px solid $borderColor;

          p {
            margin-left: 15px;
            font-size: 0.6em;
            font-weight: bold;
          }
        }

        .Text-Content {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          border-bottom: 1px solid $borderColor;
          font-size: 0.88rem;

          .input-left,
          .input-right {
            padding: 5px;
            width: 49%;
            background-color: $whiteColor;
            user-select: none;

            table {
              width: 100%;
              border-collapse: collapse;
              font-size: 0.8em;

              tr {
                height: 25px;

                td {
                  padding: 7px 0;

                  &:first-child {
                    padding-right: 10px;
                  }

                  input {
                    padding: 0.4em 0.5em;
                    outline: none;
                    border: 1px solid $borderColor;
                    border-radius: 4px;
                    margin-right: 10px;

                    &.disabled {
                      border: none;
                      background: none;
                    }
                  }

                  .form-checkbox {
                    color: #fff;

                    .input-checkbox100 {
                      display: none;
                      color: #fff;
                    }

                    .label-checkbox100 {
                      color: $fontColor;
                      line-height: 1.4;
                      display: inline-block;
                      position: relative;
                      padding-left: 26px;
                      @include pointer(pointer);

                      &::before {
                        content: '\f00c';
                        font-family: 'Font Awesome 5 Pro';
                        font-size: 13px;
                        color: transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        width: 1.3em;
                        height: 1.3em;
                        border-radius: 2px;
                        background: $whiteColor;
                        border: 1px solid $borderColor;
                        font-weight: bold;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                      }
                    }

                    .input-checkbox100:checked + .label-checkbox100::before {
                      color: $secondaryColor;
                    }

                    .input-checkbox100:disabled + .label-checkbox100::before {
                      background: #e2e2e2;
                    }

                    .fa-info-square {
                      color: $secondaryColor;
                    }
                  }
                }
              }
            }
          }
        }

        .Table-Content {
          display: flex;
          flex-direction: row;

          table {
            border-collapse: collapse;
            width: 100%;
            font-size: $gblFontSize;

            tr {
              &:hover {
                @include hoverTable;
              }

              th {
                background-color: $mainColor;
                color: $whiteColor;
                padding: 0.5em 0.4em;
              }

              td {
                border-bottom: 1px solid $borderColor;
                color: $mainColor;
                padding: 0.5em 0.4em 0.5em 1.2em;

                &.center {
                  text-align: center;
                }

                input {
                  padding: 0.4em 0.5em;
                  outline: none;
                  border: 1px solid $borderColor;
                  border-radius: 4px;
                  margin-right: 10px;

                  &[type='time'] {
                    @include pointer(pointer);
                    color: $fontColor;
                  }
                }

                .form-checkbox {
                  color: #fff;

                  .input-checkbox100 {
                    display: none;
                    color: #fff;
                  }

                  .label-checkbox100 {
                    color: $fontColor;
                    line-height: 1.4;
                    display: inline-block;
                    position: relative;
                    padding-left: 26px;
                    @include pointer(pointer);

                    &::before {
                      content: '\f00c';
                      font-family: 'Font Awesome 5 Pro';
                      font-size: 13px;
                      color: transparent;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      position: absolute;
                      width: 1.3em;
                      height: 1.3em;
                      border-radius: 2px;
                      background: $whiteColor;
                      border: 1px solid $borderColor;
                      font-weight: bold;
                      left: 0;
                      top: 50%;
                      transform: translateY(-50%);
                    }
                  }

                  .input-checkbox100:checked + .label-checkbox100::before {
                    color: $secondaryColor;
                  }

                  .input-checkbox100:disabled + .label-checkbox100::before {
                    background: #e2e2e2;
                  }

                  .fa-info-square {
                    color: $secondaryColor;
                  }
                }

                .autocomplete {
                  width: 12vw;
                  position: absolute;
                  background-color: $whiteColor;
                  color: $mainColor;
                  border: 1px solid $borderColor;
                  margin-top: 5px;
                  border-radius: 4px;
                  display: none;

                  .item {
                    padding: 0.4rem 1rem;
                    border-bottom: 1px solid $borderColor;

                    &.active,
                    &:hover {
                      @include pointer(pointer);
                      background-color: $mainColor;
                      color: $whiteColor;
                    }
                  }

                  &.display-show {
                    display: block;
                  }
                }
              }
            }
          }
        }

        .resultError {
          font-size: 0.72em;
          text-align: center;
          color: red;
          font-weight: bold;
        }

        .Btn-Content {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin: 13px auto 18px auto;

          .no-btn {
            display: inline-block;
            border: none;
            outline: none;
            color: $whiteColor;
            background-color: $mainColor;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 5px;
            @include pointer(pointer);
            font-size: 0.75rem;

            &.display-none {
              display: none;
            }
          }

          .yes-btn {
            display: inline-block;
            border: none;
            outline: none;
            color: $whiteColor;
            background-color: $secondaryColor;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 5px;
            @include pointer(pointer);
            font-size: 0.75rem;

            &.display-none {
              display: none;
            }
          }
        }
      }
    }

    .blackout {
      width: 100%;
      height: 100%;
      background-color: black;
      position: fixed;
      opacity: 0.7;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .header {
    background-color: $mainColor;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    user-select: none;

    .logo {
      img {
        margin-left: 1.2em;
        height: 23px;
        max-height: 30px;
        pointer-events: none;
      }
    }

    .icon_right {
      display: flex;
      flex-direction: row;
      padding: 0;
      color: $whiteColor;
      margin-right: 1.2em;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6em 0.4em 0.4em 0.4em;

        &:nth-child(2) {
          @include pointer(pointer);
        }

        a {
          color: $whiteColor;
        }

        .header-time {
          font-size: 0.7em;
          line-height: 1.5em;
          border-right: 2.1px solid $whiteColor;
          padding-right: 0.8em;
        }

        i {
          cursor: pointer;
          font-size: 2em;
        }

        span.notif_number {
          padding: 2px;
          color: $fontColor;
          background-color: yellow;
          font-size: 0.62em;
          font-weight: bold;
          text-align: center;
          width: 15px;
          height: 15px;
          border-radius: 10px;
          margin-top: -13px;
          margin-left: -8px;
        }

        .notif_display {
          position: absolute;
          top: 3.1rem;
          right: 2.1rem;
          width: 20%;
          font-size: 0.72em;
          background-color: $whiteColor;
          border: 1px solid $borderColor;
          color: $fontColor;
          padding: 0.6rem;
          border-radius: 15px;
          z-index: 1;
          box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);

          table.table_notif {
            width: 100%;
            border-collapse: collapse;
            font-size: 0.95em;

            tr {
              border-bottom: 1px solid $borderColor;

              &:last-child {
                border-bottom: none;
              }

              td {
                padding: 0.5rem;
              }
            }
          }
        }

        p {
          margin-right: 0.4rem;
          font-weight: bold;
          font-size: 0.83em;
        }
      }

      img {
        height: 23px;
        border-radius: 10px;
        margin-right: 0.7rem;
        pointer-events: none;
      }
    }
  }

  .menu {
    font-size: 0.72em;
    background-color: $bgColor;
    box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
    color: $fontColor;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 0.6em 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.2rem;
      list-style: none;
      padding: 0;

      a {
        text-decoration: none;
        color: $fontColor;
      }

      li {
        @include pointer(pointer);
        display: flex;
        flex-direction: row;
        margin: 0.4em 0.6em 0.4em 0;
        padding: 8px;

        &.active,
        &:hover {
          color: $secondaryColor;
          border-left: 4px solid $secondaryColor;
        }

        &:hover > ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          margin-top: 1.2rem;
          margin-left: -0.75rem;
          background-color: $bgColor;
          color: $fontColor;
        }

        ul {
          display: none;
          position: absolute;
        }
      }

      .icon_menu {
        display: flex;
        flex-direction: row;
        padding-right: 0.4rem;
      }
    }
  }

  .container {
    margin: 1.2em;
    font-size: 0.9em;
    color: $fontColor;

    .calender-container {
      .plugin-top {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.3rem;
        justify-content: space-between;

        .item {
          display: flex;
          flex-direction: row;
          text-align: center;
          vertical-align: middle;
          align-items: center;

          .left_title {
            font-size: 1.3em;
            color: $mainColor;
            text-transform: uppercase;
            border-right: 1px solid $fontColor;
            padding-right: 1.3rem;
          }

          #right_title {
            font-size: 0.9em;
            color: $fontColor;
            padding-left: 1.3rem;
          }

          button {
            outline: none;
            border: none;
            padding: 0.7rem 1.4rem;
            background-color: $mainColor;
            color: $whiteColor;
            margin-left: 1.2rem;
            border-radius: 8px;

            &:hover {
              background-color: $secondaryColor;
              @include pointer(pointer);
            }
          }

          input {
            color: $mainColor;
            outline: none;
            border: 1px solid $borderColor;
            margin-right: 1.2rem;
            padding: 0.8rem;
            font-size: 0.85rem;
          }
        }
      }

      .plugin-search {
        font-size: 0.75em;
        padding: 0rem 0rem 1rem 0rem;
        display: none;

        &.display-show {
          display: block;
        }

        input,
        select {
          color: $mainColor;
          outline: none;
          border: 1px solid $borderColor;
          margin-right: 1.2rem;
          padding: 0.8rem;
          font-size: 0.85rem;
        }
      }

      .list-karyawan {
        table {
          border-collapse: collapse;
          width: 100%;
          font-size: $gblFontSize;

          tr {
            th {
              background-color: $mainColor;
              color: $whiteColor;
              padding: 0.8em 0.6em;
            }

            &:hover {
              @include hoverTable;
            }

            td {
              border-bottom: 1px solid $borderColor;
              color: $mainColor;
              padding: 0.8em 0.6em;
              text-align: center;
              &:nth-child(2) {
                text-align: left;
              }
            }
          }
        }
      }

      .calender-display {
        .day-of-week,
        .date-grid {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
        }

        .day-of-week {
          div {
            padding: 0.3rem;
            background-color: $mainColor;
            color: $whiteColor;
            text-align: center;
            font-weight: bold;
          }
        }

        .date-grid {
          .day {
            display: flex;
            flex-direction: column;
            padding: 8px;
            border: 1px solid $borderColor;
            height: 100px;
            font-weight: bold;

            &:nth-child(7n + 1) {
              color: #da2e22;
              font-weight: 700;
            }

            span {
              margin-top: 10px;
              display: inline-block;
              ul {
                li {
                  list-style: none;
                  font-size: 0.75rem;
                  padding: 0.2rem 0;
                }
              }
            }
          }
          .padding {
            background-color: $borderColor;
            border-right: 1px solid $whiteColor;
          }
        }
      }
    }
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 565.98px) {
  .wrapper {
    .lightbox {
      .lightbox-Small {
        width: 90%;
        height: 50%;
        margin: 31% 5%;
      }

      .lightbox-confirmation {
        width: 50%;
        margin: 33% 25%;
      }
    }

    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            margin-top: 0.2em;
            display: block;
          }

          .notif_display {
            width: 60%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 566px) and (max-width: 767.98px) {
  .wrapper {
    .lightbox {
      .lightbox-Small {
        width: 90%;
        height: 55%;
        margin: 26% 5%;
      }
      .lightbox-confirmation {
        width: 50%;
        margin: 33% 25%;
      }
    }

    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            margin-top: 0.2em;
            display: block;
          }

          .notif_display {
            width: 45%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper {
    .lightbox {
      .lightbox-Small {
        width: 78%;
        height: 54%;
        margin: 18% 11%;
      }
      .lightbox-confirmation {
        width: 40%;
        margin: 25% 30%;
      }
    }

    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            display: none;
          }

          .notif_display {
            width: 33%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper {
    .lightbox-confirmation {
      .content-lightbox {
        width: 52%;
        width: 48%;
        margin: 28% 24%;
      }
      .lightbox-confirmation {
        width: 33%;
        margin: 16% 33.5%;
      }
    }
    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            display: none;
          }

          .notif_display {
            width: 28%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    .lightbox {
      .lightbox-Small {
        width: 45%;
        height: 48%;
        margin: 15% 27.5%;
      }
      .lightbox-confirmation {
        width: 33%;
        margin: 16% 33.5%;
      }
    }

    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            display: none;
          }

          .notif_display {
            width: 23%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}
