$mainColor: #3c4854;
$secondaryColor: #fe5724;
$fontColor: #3c4854;
$bgColor: #f5f6f9;
$whiteColor: #fff;
$borderColor: #dfdfdf;
$gblFontSize: 0.8em;

@mixin pointer($cursor: default) {
  cursor: $cursor;
}

@mixin hoverTable() {
  background: #f1f1f1;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: $bgColor;
}

.display-none {
  display: none;
  overflow: hidden;
}

.display-show {
  display: block;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .lightbox-input {
    display: none;
    overflow: hidden;

    &.display-show {
      display: block;
    }

    .content-lightbox {
      width: 80%;
      height: 95%;
      margin: 1.25% 10%;
      font-size: 0.85rem;
      position: fixed;
      z-index: 3;
      background: $whiteColor;
      color: $mainColor;
      overflow: auto;

      .topForm {
        display: flex;
        justify-content: space-between;
        background-color: $mainColor;
        color: $whiteColor;
        padding: 0.8em;
        font-weight: bold;
        user-select: none;
      }

      .lightBoxContent {
        padding: 1.2em;

        // untuk form absensi
        .absensi {
          display: flex;
          width: 100%;
          flex-direction: column;

          .absensiTop {
            margin-bottom: 1.2em;
          }
          .absensiList {
            width: 100%;
            margin-bottom: 1.2em;

            table {
              border-collapse: collapse;
              width: 100%;
              font-size: $gblFontSize;

              tr {
                th {
                  background-color: $mainColor;
                  color: $whiteColor;
                  padding: 0.5em 0.4em;
                }

                &:hover {
                  @include hoverTable;
                }

                td {
                  border-bottom: 1px solid $borderColor;
                  color: $mainColor;
                  padding: 0.5em 0.4em;
                  text-align: center;

                  &:nth-child(2) {
                    text-align: left;
                  }

                  input {
                    padding: 0.2em 0.8em;
                    outline: none;
                    border: 1px solid $borderColor;
                    border-radius: 1px;
                  }

                  input[type='checkbox'],
                  input[type='time'] {
                    @include pointer(pointer);
                  }
                }
              }
            }
          }
          .absensiSubmit {
            text-align: center;

            #submit {
              padding: 0.5em 2.7em;
              outline: none;
              background-color: $mainColor;
              color: $whiteColor;
              border-radius: 4px;
              border: none;

              &:hover {
                background-color: $secondaryColor;
              }
            }
          }
        }
      }
    }

    .blackout {
      width: 100%;
      height: 100%;
      background-color: black;
      position: fixed;
      opacity: 0.7;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  .header {
    background-color: $mainColor;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    user-select: none;

    .logo {
      img {
        margin-left: 1.2em;
        height: 23px;
        max-height: 30px;
        pointer-events: none;
      }
    }

    .icon_right {
      display: flex;
      flex-direction: row;
      padding: 0;
      color: $whiteColor;
      margin-right: 1.2em;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6em 0.4em 0.4em 0.4em;

        &:nth-child(2) {
          @include pointer(pointer);
        }

        a {
          color: $whiteColor;
        }

        .header-time {
          font-size: 0.7em;
          line-height: 1.5em;
          border-right: 2.1px solid $whiteColor;
          padding-right: 0.8em;
        }

        i {
          cursor: pointer;
          font-size: 2em;
        }

        span.notif_number {
          padding: 2px;
          color: $fontColor;
          background-color: yellow;
          font-size: 0.62em;
          font-weight: bold;
          text-align: center;
          width: 15px;
          height: 15px;
          border-radius: 10px;
          margin-top: -13px;
          margin-left: -8px;
        }

        .notif_display {
          position: absolute;
          top: 3.1rem;
          right: 2.1rem;
          width: 20%;
          font-size: 0.72em;
          background-color: $whiteColor;
          border: 1px solid $borderColor;
          color: $fontColor;
          padding: 0.6rem;
          border-radius: 15px;
          z-index: 1;
          box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);

          table.table_notif {
            width: 100%;
            border-collapse: collapse;
            font-size: 0.95em;

            tr {
              border-bottom: 1px solid $borderColor;

              &:last-child {
                border-bottom: none;
              }

              td {
                padding: 0.5rem;
              }
            }
          }
        }

        p {
          margin-right: 0.4rem;
          font-weight: bold;
          font-size: 0.83em;
        }
      }

      img {
        height: 23px;
        border-radius: 10px;
        margin-right: 0.7rem;
        pointer-events: none;
      }
    }
  }

  .menu {
    font-size: 0.72em;
    background-color: $bgColor;
    box-shadow: 0px 4px 6px rgba(78, 78, 78, 0.1);
    color: $fontColor;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 0.6em 0;

    ul {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.2rem;
      list-style: none;
      padding: 0;

      a {
        text-decoration: none;
        color: $fontColor;
      }

      li {
        @include pointer(pointer);
        display: flex;
        flex-direction: row;
        margin: 0.4em 0.6em 0.4em 0;
        padding: 8px;

        &.active,
        &:hover {
          color: $secondaryColor;
          border-left: 4px solid $secondaryColor;
        }

        &:hover > ul {
          display: flex;
          flex-direction: column;
          position: absolute;
          margin-top: 1.5rem;
          margin-left: -0.875rem;
          background-color: $bgColor;
          color: $fontColor;
          border-radius: 0px 0 8px 8px;
        }

        ul {
          display: none;
          position: absolute;
        }
      }

      .icon_menu {
        display: flex;
        flex-direction: row;
        padding-right: 0.4rem;
      }
    }
  }

  .container {
    margin: 1.2em;
    font-size: 0.9em;
    color: $fontColor;

    .calender-container {
      .plugin-top {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.3rem;
        justify-content: space-between;

        .item {
          display: flex;
          flex-direction: row;
          text-align: center;
          vertical-align: middle;
          align-items: center;

          .left_title {
            font-size: 1.3em;
            color: #3c4854;
            text-transform: uppercase;
            border-right: 1px solid $fontColor;
            padding-right: 1.3rem;
          }

          #right_title {
            font-size: 0.9em;
            color: $fontColor;
            padding-left: 1.3rem;
          }

          button {
            outline: none;
            border: none;
            padding: 0.7rem 1.4rem;
            background-color: $mainColor;
            color: $whiteColor;
            margin-left: 1.2rem;
            border-radius: 8px;

            &:hover {
              background-color: $secondaryColor;
              @include pointer(pointer);
            }
          }

          input {
            color: $mainColor;
            outline: none;
            border: 1px solid $borderColor;
            margin-right: 1.2rem;
            padding: 0.8rem;
            font-size: 0.85rem;
          }
        }
      }

      .plugin-search {
        font-size: 0.75em;
        padding: 0rem 0rem 1rem 0rem;
        display: none;

        &.display-show {
          display: block;
        }

        input {
          color: $mainColor;
          outline: none;
          border: 1px solid $borderColor;
          margin-right: 1.2rem;
          padding: 0.8rem;
          font-size: 0.85rem;
        }
      }

      .list-karyawan {
        table {
          border-collapse: collapse;
          width: 100%;
          font-size: $gblFontSize;

          tr {
            th {
              background-color: $mainColor;
              color: $whiteColor;
              padding: 0.8em 0.6em;
            }

            &:hover {
              @include hoverTable;
            }

            td {
              &:nth-child(2) {
                text-align: left;
              }

              border-bottom: 1px solid $borderColor;
              color: $mainColor;
              padding: 0.8em 0.6em;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 565.98px) {
  .wrapper {
    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            margin-top: 0.2em;
            display: block;
          }

          .notif_display {
            width: 60%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 566px) and (max-width: 767.98px) {
  .wrapper {
    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            margin-top: 0.2em;
            display: block;
          }

          .notif_display {
            width: 45%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .wrapper {
    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            display: none;
          }

          .notif_display {
            width: 33%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .wrapper {
    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            display: none;
          }

          .notif_display {
            width: 28%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .wrapper {
    .header {
      .icon_right {
        .icon {
          &:nth-child(3) {
            display: none;
          }

          .notif_display {
            width: 23%;

            table.table_notif {
              font-size: 0.95em;
            }
          }
        }
      }
    }
  }
}
